@mixin cta {
    display: inline-block;
    padding: 14.5px 33px;
    border-radius: 50px;
    cursor: pointer;
    font-size: rem(20);
    font-weight: 600;
    min-height: 60px;
    font-family: hubl("$main_font");
    text-align: center;
    transition: all 0.3s ease 0s;
}

@mixin cta-primary {

    &:hover {}
}

@mixin cta-secondary {

    &:hover {}
}


.cta_button, .cta {
    text-decoration: none;
    box-sizing: border-box !important;
    margin-bottom: 20px;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        &:before {
            display: none;
        }
    }
}

.cta-primary,
.cta-secondary {
    @include cta;
}

.cta-primary {
    @include cta-primary;
}

.cta-secondary {
    @include cta-secondary;
}