.footer-container-wrapper {

	.row-fluid [class*="span"] {
		min-height: 0;
	}
}

.footer {

	&__bottom-left {

		.hs_cos_wrapper_type_simple_menu {

			ul {

				li {
					width: auto;
					margin-left: 10px;
					margin-right: 10px;
					margin-bottom: rem(10);

					@media (min-width: 768px) {
						margin-left: 30px;
						margin-right: 0;
					}

					a {
						display: inline-block;
						width: auto;
						padding: 0;
						position: relative;
						overflow: visible;

						&:after {
							content: "";
							display: block;
							position: absolute;
							top: 100%;
							left: 0;
							width: 100%;
							height: 1px;
							background-color: #fff;
							transition: all .3s ease;
						}

						&:hover {
							color: hubl("$first_color");

							&:after {
								background-color: hubl("$first_color");
							}
						}
					}
				}
			}
		}
	}

	&__bottom-right {

	}
}