.hs_cos_wrapper_type_blog_subscribe,
.hs_cos_wrapper_type_form,
.hs_cos_wrapper_type_blog_comments {

  h3 {
    margin: 0;
  }

  form {
    max-width: 600px;
    margin: auto;

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    select {
      font-family: hubl("$main_font");
      background-color: #fff;
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
      padding: 14px;
      display: inline-block;
      box-sizing: border-box;
      font-size: rem(16);
      border: 2px solid hubl_rgba("$d1", 0.3);
      outline: none;
      color: hubl("$main_font_color");
      border-radius: 0;
      -webkit-appearance: none;
    }

    textarea {
      overflow: auto;
      resize: vertical;
      min-height: rem(120);
    }

    select {
      padding-right: 50px;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
    }

    select {
      -moz-appearance: none;
      -webkit-appearance:none;
    }

    /*for IE10*/
    select::-ms-expand {
      display: none;
    }

    select::-ms-value {
      color: hubl("$main_font_color");
      background: transparent;
    }

    select:focus::-ms-value {
      color: hubl("$main_font_color");
      background: transparent;
    }

    input::-webkit-input-placeholder {
      color: hubl("$main_font_color");
    }

    input::-moz-placeholder {
      color: hubl("$main_font_color");
    }

    input:-ms-input-placeholder {
      color: hubl("$main_font_color");
    }

    input:-moz-placeholder {
      color: hubl("$main_font_color");
    }

    .hs-fieldtype-select {

      .input {
        position: relative;

        &:after {
          pointer-events: none;
          position: absolute;
          display: block;
          content: "";
          width: 10px;
          height: 10px;
          right: 25px;
          top: 50%;
          transform-origin: top;
          transform: translateY(-50%) rotate(45deg);
          border-right: 2px solid hubl_rgba("$d1", 0.3);
          border-bottom: 2px solid hubl_rgba("$d1", 0.3);
        }
      }
    }

    ul {
      margin-top: rem(10);
      margin-bottom: 0;

      li {
        position: relative;
      }
    }

    .inputs-list {
      list-style: none;
      padding-left: rem(35);
    }

    input[type="checkbox"] {
      position: absolute;
      left: rem(-35);
      z-index: 1;
      opacity: 0;
      cursor: pointer;

      + span {
        cursor: pointer;

        &:before {
          display: block;
          content: "";
          width: rem(17);
          height: rem(17);
          background-color: #fff;
          border: 1px solid hubl("$first_color");
          position: absolute;
          left: rem(-35);
          top: rem(2);
        }

        &:after {
          display: block;
          content: "";
          width: rem(5);
          height: rem(9);
          border-bottom: 1px solid hubl("$first_color");
          border-right: 1px solid hubl("$first_color");
          position: absolute;
          left: rem(-29);
          top: rem(5);
          z-index: 1;
          transform: rotate(44deg);
          opacity: 0;
          transition: all .2s linear;
        }
      }
    }

    input[type="checkbox"]:checked {

      + span {

        &:after {
          opacity: 1;
        }
      }
    }

    input[type="radio"] {
      position: absolute;
      left: rem(-35);
      z-index: 1;
      opacity: 0;
      cursor: pointer;

      + span {
        cursor: pointer;

        &:before {
          display: block;
          content: "";
          width: rem(17);
          height: rem(17);
          background-color: #fff;
          border: 1px solid hubl("$first_color");
          border-radius: 50%;
          position: absolute;
          left: rem(-35);
          top: rem(7);
        }

        &:after {
          display: block;
          content: "";
          width: rem(17);
          height: rem(17);
          background-color: hubl("$first_color");
          transform: scale(.4);
          border-radius: 50%;
          position: absolute;
          left: rem(-35);
          top: rem(7);
          z-index: 1;
          opacity: 0;
          transition: all .2s linear;
        }
      }
    }

    input[type="radio"]:checked {

      + span {

        &:after {
          opacity: 1;
        }
      }
    }

    input[type="submit"] {
      -webkit-appearance: none;
      @include cta();
      @include cta-primary();
      margin-top: rem(20);
      cursor: pointer;
    }

    .hs-form-required {
      display: none;
    }

    .hs-form-field {
      text-align: left;
      margin-bottom: rem(16);
      width: 100%;
      float: left !important;

      > label {
        display: block;
        margin-bottom: rem(14);
      }
    }

    .hs-input {
      width: 100%;

      @media (max-width: 480px) {
        width: 100% !important;
      }
    }

    label {
      text-align: left;
    }

    .hs-error-msgs {
      text-align: left;
      list-style: none;
      padding: 0;
      font-size: rem(14);
    }


    fieldset {
      min-width: 0;
      padding: 0;
      margin: 0;
      border: 0;
      max-width: none;
      width: 100%;

      .hs-form-field {

        &:last-of-type {
          margin-right: 0;
        }

        .hs-input {
          width: 100%;
        }

        .input {
          margin-right: 0;
        }
      }

      &.form-columns-1 {

        .hs-fieldtype-radio {

          ul {
            li {
              display: inline-block;
              margin-right: 60px;
            }
          }
        }
      }

      &.form-columns-2 {

        .hs-form-field {
          width: 100%;

          @media (min-width: 768px) {
            max-width: calc(50% - 15px);
            margin-right: 30px;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }

      &.form-columns-3 {

        .hs-form-field {
          width: 100%;

          @media (min-width: 768px) {
            max-width: calc(33.33% - 20px);
            margin-right: 30px;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }

      .hs-recaptcha {
        margin-top: rem(14);
      }

      .legal-consent-container {
        font-size: rem(14);
        text-align: left;
        margin-top: rem(10);
        margin-bottom: rem(10);

        .hs-form-booleancheckbox-display {

          > span {
            display: inline-block;
            margin-left: 0;
          }
        }
      }
    }
  }
}

.bg-color--first-color,
.bg-color--d1,
.bg-color--d2 {

  form {

    a {
      color: #fff;
    }

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    select {}

    input[type="submit"] {
      @include cta-secondary();
    }

    label {
      color: #fff;
    }

    .hs-form-field {
      > label {
        color: #fff;
      }
    }

    .legal-consent-container {

      .hs-error-msgs {

        label, a {
          color: #fff;
        }
      }
    }
  }
}