* {
    outline: none;
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    margin: 0;
    padding: 0;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

body .row-fluid [class*="span"] {
    min-height: 1px;
}

.body-container-wrapper {
    // padding-top: 100px;
}

.mt {

    @for $i from 1 through 10 {
        &--#{$i*10} {
            margin-top: #{$i*10}px;
        }
    }

    @media (min-width: 576px) {

        @for $i from 1 through 10 {
            &--sm-#{$i*10} {
                margin-top: #{$i*10}px;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 1 through 10 {
            &--md-#{$i*10} {
                margin-top: #{$i*10}px;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 1 through 10 {
            &--lg-#{$i*10} {
                margin-top: #{$i*10}px;
            }
        }
    }
}

.mb {

    @for $i from 1 through 10 {
        &--#{$i*10} {
            margin-bottom: #{$i*10}px;
        }
    }

    @media (min-width: 576px) {

        @for $i from 1 through 10 {
            &--sm-#{$i*10} {
                margin-bottom: #{$i*10}px;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 1 through 10 {
            &--md-#{$i*10} {
                margin-bottom: #{$i*10}px;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 1 through 10 {
            &--lg-#{$i*10} {
                margin-bottom: #{$i*10}px;
            }
        }
    }
}

.pt {

    @for $i from 1 through 10 {
        &--#{$i*10} {
            padding-top: #{$i*10}px;
        }
    }

    @media (min-width: 576px) {

        @for $i from 1 through 10 {
            &--sm-#{$i*10} {
                padding-top: #{$i*10}px;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 1 through 10 {
            &--md-#{$i*10} {
                padding-top: #{$i*10}px;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 1 through 10 {
            &--lg-#{$i*10} {
                padding-top: #{$i*10}px;
            }
        }
    }
}

.pb {

    @for $i from 1 through 15 {
        &--#{$i*10} {
            padding-bottom: #{$i*10}px;
        }
    }

    @media (min-width: 576px) {

        @for $i from 1 through 15 {
            &--sm-#{$i*10} {
                padding-bottom: #{$i*10}px;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 1 through 15 {
            &--md-#{$i*10} {
                padding-bottom: #{$i*10}px;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 1 through 15 {
            &--lg-#{$i*10} {
                padding-bottom: #{$i*10}px;
            }
        }
    }
}

.pr {

    @for $i from 1 through 15 {
        &--#{$i*10} {
            padding-right: #{$i*10}px !important;
        }
    }

    @media (min-width: 576px) {

        @for $i from 1 through 15 {
            &--sm-#{$i*10} {
                padding-right: #{$i*10}px !important;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 1 through 15 {
            &--md-#{$i*10} {
                padding-right: #{$i*10}px !important;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 1 through 15 {
            &--lg-#{$i*10} {
                padding-right: #{$i*10}px !important;
            }
        }
    }
}

.pl {

    @for $i from 1 through 15 {
        &--#{$i*10} {
            padding-left: #{$i*10}px !important;
        }
    }

    @media (min-width: 576px) {

        @for $i from 1 through 15 {
            &--sm-#{$i*10} {
                padding-left: #{$i*10}px !important;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 1 through 15 {
            &--md-#{$i*10} {
                padding-left: #{$i*10}px !important;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 1 through 15 {
            &--lg-#{$i*10} {
                padding-left: #{$i*10}px !important;
            }
        }
    }
}

.flex-mb {

    @for $i from 1 through 15 {
        &--#{$i*10} {

            > span {

                > div {
                    margin-bottom: #{$i*10}px;
                }
            }
        }
    }

    @media (min-width: 576px) {

        @for $i from 1 through 15 {
            &--sm-#{$i*10} {

                > span {

                    > div {
                        margin-bottom: #{$i*10}px;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 1 through 15 {
            &--md-#{$i*10} {

                > span {

                    > div {
                        margin-bottom: #{$i*10}px;
                    }
                }
            }
        }

    }

    @media (min-width: 992px) {

        @for $i from 1 through 15 {
            &--lg-#{$i*10} {

                > span {

                    > div {
                        margin-bottom: #{$i*10}px;
                    }
                }
            }
        }
    }
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;

    &--840 {
        max-width: 840px;
    }

    &--940 {
        max-width: 940px;
    }

    &--p-15 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    &--p-30 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    @media (min-width: 576px) {
        &--sm-p-15 {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        &--sm-p-30 {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }
    }

    @media (min-width: 768px) {
        &--md-p-15 {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        &--md-p-30 {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }
    }

    @media (min-width: 992px) {
        &--lg-p-15 {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        &--lg-p-30 {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }
    }

    &:before, &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }
}

.bg-color {

    &--first-color {
        background-color: hubl("$first_color");
    }

    &--d1 {
        background-color: hubl("$d1");
    }

    &--d2 {
        background-color: hubl("$d2");
    }
}