@font-face {
    font-family: 'Posti Sans';
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-thin.eot');
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-thin.eot?#iefix') format('embedded-opentype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-thin.woff') format('woff'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-thin.ttf') format('truetype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-thin.svg#posti_sans-thin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Posti Sans';
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-light.eot');
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-light.eot?#iefix') format('embedded-opentype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-light.woff') format('woff'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-light.ttf') format('truetype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-light.svg#posti_sans-light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Posti Sans';
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-book.eot');
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-book.eot?#iefix') format('embedded-opentype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-book.woff') format('woff'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-book.ttf') format('truetype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-book.svg#posti_sans-book') format('svg');
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: 'Posti Sans';
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-regular.eot');
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-regular.eot?#iefix') format('embedded-opentype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-regular.woff') format('woff'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-regular.ttf') format('truetype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-regular.svg#posti_sans-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Posti Sans';
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-medium.eot');
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-medium.eot?#iefix') format('embedded-opentype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-medium.woff') format('woff'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-medium.ttf') format('truetype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-medium.svg#posti_sans-medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Posti Sans';
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-bold.eot');
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-bold.eot?#iefix') format('embedded-opentype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-bold.woff') format('woff'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-bold.ttf') format('truetype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-bold.svg#posti_sans-bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

html {
    font-size: #{$browser-context}px;
}

.text-small {
    font-size: #{$browser-context - 4}px;
}

body {
    font-family: hubl("$main_font");
    line-height: 1.5;
    font-weight: normal;
    color: hubl("$main_font_color");
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

small,
.small {
    font-size: 80%;
}

strong {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

cite {

}

code {

}

pre {

}

sup, sub {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

p {
    margin-top: 0;
    margin-bottom: rem(20);
}

address {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: rem(30);

    a {
        color: inherit;
    }
}

h1, .h1 {
    font-size: rem(44);

    @media (min-width: 576px) {
        font-size: rem(60);
    }
}

h2, .h2 {
    font-size: rem(30);
}

h3, .h3 {
    font-size: rem(24);
}

h4, .h4 {
    font-size: rem(20);
    line-height: 1.5;
    margin-bottom: rem(20);
}

h5, .h5 {

}

h6, .h6 {

}

ul, ol {
    margin-top: 0;
    margin-bottom: rem(20);

    ul {

    }

    ol {

    }

}

ul {
    list-style: none;
}

li {

}

blockquote {}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-underline-position: under;
    transition: all .3s ease;

    &:hover {
        text-decoration: none;
    }

    &:not([href]) {
        color: inherit;
        text-decoration: none;
    }
}

.hs_cos_wrapper_type_rich_text,
.hs_cos_wrapper_type_inline_rich_text {
    display: block;

    a:not(.cta_button):not(.cta) {
        color: hubl("$first_color");
        text-decoration: underline;
    }

    ul {
        padding-left: 26px;

        li {
            position: relative;
            margin-bottom: 10px;

            &:before {
                position: absolute;
                display: block;
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: hubl("$first_color");
                left: -26px;
                top: em(12);
            }
        }

        ul {
            padding-left: 20px;
        }
    }

    ol {
        counter-reset: section;
        list-style-type: none;
        padding-left: 26px;

        li {
            position: relative;
            margin-bottom: 10px;

            &:before {
                counter-increment: section;
                content: counters(section, ".") ".";
                position: absolute;
                display: block;
                color: hubl("$first_color");
                left: -26px;
                top: 0;
            }
        }

        ol {
            padding-left: 40px;

            li {

                &:before {
                    left: -60px;
                }
            }
        }
    }

}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;

    &--md {

        @media (min-width: 768px) {
            text-align: right;
        }
    }
}

.text-left {
    text-align: left;

    &--md {

        @media (min-width: 768px) {
            text-align: left;
        }
    }

}

.bg-color {

    &--first-color,
    &--d1,
    &--d2 {

        color: #fff;

        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: #fff;
        }

        blockquote {}

        a:not(.cta_button):not(.cta) {
            color: #fff;
        }

        i {
            color: #fff;
        }

        ul {

            li {

                &:before {
                    background-color: #fff;
                }
            }
        }

        ol {

            li {

                &:before {
                    color: #fff;
                }
            }
        }

        .hs_cos_wrapper_type_rich_text,
        .hs_cos_wrapper_type_inline_rich_text {

            a:not(.cta_button):not(.cta) {
                text-decoration: underline;
            }
        }
    }
}