.ecom-logo {
	transform: scale(.5);
	margin-top: -30px;
	margin-bottom: -30px;

	@media (min-width: 576px) {
		transform: scale(1);
		margin-top: 0;
		margin-bottom: 0;
	}


	h1 {
		opacity: 0;
		visibility: hidden;
		height: 0;
		margin: 0;
		font-size: 0;
	}

	&__fake-header {
		font-size: rem(110);
		font-weight: normal;

	}

	&__link {
		display: block;

		@media (min-width: 576px) {
			display: inline-block;
		}

		&:hover {

			.ecom-logo__bottom-x {

				svg {

					path {

						&:first-of-type {
							transform: translateX(-5px);
						}

						&:last-of-type {
							transform: translateX(5px);
						}
					}
				}
			}
		}
	}

	&__top, &__bottom {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1.4;
	}

	&__top {

		span {
			margin-left: 22px;
			margin-right: 22px;
		}
	}

	&__bottom {
		transform: translateX(-4px);

		span {
			margin-left: 24px;
			margin-right: 24px;
		}
	}

	&__bottom-x {
		font-size: 0;

		svg {
			margin-left: 15px;
			margin-right: 15px;

			path {
				transition: all .3s ease;
				transform: translateX(0);
			}
		}
	}
}