.ecom-register {

	&__form {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		padding: rem(20) 15px rem(30);

		@media (min-width: 576px) {
			padding: rem(30) 40px rem(30);
		}

		.hs_cos_wrapper_type_form {

			form {
				text-align: center;



				select::-ms-expand {
					display: none;
				}

				select::-ms-value {
					color: #fff;
				}

				select:focus::-ms-value {
					color: #fff;
				}

				input::-webkit-input-placeholder {
					color: #fff;
				}

				input::-moz-placeholder {
					color: #fff;
					opacity: 1;
				}

				input:-ms-input-placeholder {
					color: #fff;
				}

				input:-moz-placeholder {
					color: #fff;
					opacity: 1;
				}

				textarea::-webkit-input-placeholder {
					color: #fff;
				}

				textarea::-moz-placeholder {
					color: #fff;
					opacity: 1;
				}

				textarea:-ms-input-placeholder {
					color: #fff;
				}

				textarea:-moz-placeholder {
					color: #fff;
					opacity: 1;
				}

				input:not([type=submit]), textarea {
					background-color: transparent;
					color: #fff;
					border: none;
					border-bottom: 1px solid #fff;
					padding: 0;
					font-size: 20px;
				}

				textarea {
					border: 1px solid #fff;
					padding: 8px 10px;
					min-height: 160px;
				}

				.hs-submit {
					display: inline-block;
					width: auto;
				}

				.actions {
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-top: 10px;

					&:before {
						display: block;
						position: relative;
						content: '';
						background-image: url('https://minun.posti.fi/hubfs/clickray/posti-next-19/icons/post-next-left-x.svg');
						height: 20px;
						width: 13px;
						background-size: cover;
						margin-right: 15px;
						transition: all .3s ease;
					}

					&:after {
						display: block;
						position: relative;
						content: '';
						background-image: url('https://minun.posti.fi/hubfs/clickray/posti-next-19/icons/post-next-right-x.svg');
						height: 20px;
						width: 13px;
						background-size: cover;
						margin-left: 15px;
						transition: all .3s ease;
					}

					&:hover {

						&:before {
							margin-right: 10px;
						}

						&:after {
							margin-left: 10px;
						}
					}
				}

				input[type=submit] {
					margin-top: 0;
					border-radius: 0;
					border: none;
					background-color: transparent;
					color: #fff;
					font-size: 28px;
					padding: 0;
				}

				.hs_error_rollup {

					.hs-error-msgs {
						text-align: center;
					}
				}
			}
		}
	}
}