.ecom-body {
	position: relative;
	overflow: hidden;

	&__bg-box-container {
		position: absolute;
		height: 100%;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
	}

	&__bg-box {
		position: absolute;
		width: 100vw;
		right: 15px;

		&--top {
			top: 30px;

			@media (min-width: 576px) {
				top: 60px;
			}
		}

		&--bottom {
			bottom: 0;
		}

		@media (min-width: 576px) {
			right: 30px;
		}
	}

	&__bg-image {
		position: absolute;
		width: 80vw;
		right: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center left;

		&--top {
			top: 30px;

			@media (min-width: 576px) {
				top: 60px;
			}
		}

		&--bottom {
			bottom: 0;
		}

		@media (min-width: 840px) {
			width: 50vw;
			background-size: cover;
		}
	}

	&__container {
		position: relative;
	}

	&__header {
		position: relative;

		h1 {
			font-size: rem(50);
			line-height: 1.1;
			letter-spacing: 0.05em;

			span {
				color: hubl("$first_color");
			}

			@media (min-width: 400px) {
				font-size: rem(60);
			}

			@media (min-width: 576px) {
				font-size: rem(80);
			}

			@media (min-width: 768px) {
				font-size: rem(85);
			}
		}
	}

	&__content {
		position: relative;
		padding-right: 15px;

		@media (min-width: 576px) {
			padding-right: 30px;
		}

		@media (min-width: 840px) {
			padding-right: 15px;
		}

		&--align-right {
			margin-left: auto;
		}

		p > span {
			color: hubl("$first_color");
		}

	}
}