.ecom-simple-menu {

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__item {
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: rem(10);
		width: 100%;
		text-align: center;

		@media (min-width: 576px) {
			width: auto;
		}

		a:not(.cta_button):not(.cta) {
			position: relative;
			text-decoration: none;
			padding-left: 2px;
			padding-right: 2px;

			&:hover {
				color: hubl("$first_color");
			}
		}

		&--active {
			pointer-events: none;

			a:not(.cta_button):not(.cta) {
				color: hubl("$first_color");

				&:after {
					content: "";
					display: block;
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: hubl("$first_color");
					transition: all .3s ease;
				}
			}
		}

		&--disabled {
			pointer-events: none;
			opacity: .5;
		}
	}
}